</div>
    <script src="/jquery/dist/jquery.min.js" defer></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js" defer></script>
    <script src="./javascripts/effects.js" defer></script>
    <script src="./javascripts/project_effect.js" defer></script>
    <script src="./javascripts/services_effect.js" defer></script>
    <!--
        Images References:
        https://seeklogo.com/vector-logo/363285/c-sharp-c
        https://brandslogos.com/j/java-logo-1/
        https://www.nicepng.com/ourpic/u2q8t4a9y3e6r5e6_but-before-we-cover-all-the-sexy-stuff/

    -->
</body>
</html>
