<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="./images/web-page.jpg" class="card-img-top" alt="web-page">
            <div class="card-body text-justify">
              <h5 class="card-title">Web Page</h5>
              <p class="card-text">Transform your vision into a captivating digital experience with our expert single web page development service. Seamlessly showcase your content, engage your audience, and make a lasting impression.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="./images/web-site.jpg" class="card-img-top" alt="web-site">
            <div class="card-body">
              <h5 class="card-title">Web Site</h5>
              <p class="card-text">Unlock your online potential with our professional website creation service. We craft dynamic websites with multiple views and distinct web pages, tailored to showcase your brand, deliver seamless navigation, and captivate your visitors at every click.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="./images/web-application.jpg" class="card-img-top" alt="web-application">
            <div class="card-body">
              <h5 class="card-title">Web Application</h5>
              <p class="card-text">Elevate your digital presence with our comprehensive web application development service. From seamless user interfaces to robust backend integration with databases, we empower your business with customized web solutions that drive efficiency, enhance data management, and deliver a stellar user experience.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="./images/desktop-app.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Desktop Applications</h5>
              <p class="card-text">Empower your business with tailor-made desktop applications designed to meet your specific needs. Our expert team specializes in developing robust, intuitive, and scalable desktop solutions that streamline your operations, enhance productivity, and provide a seamless user experience. Unlock the full potential of your business with our customized desktop application development service.</p>
            </div>
          </div>
        </div>
    </div>
</div>
  <!--
    https://www.debateen140.com/tecnologia/debate-sobre-aplicacion-web-y-diferencias-de-pagina-web/
    https://aprendepapayita.wordpress.com/web-vs-escritorio/escritorio-2/
  -->