<div class="container text-center">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="card" style="width: 100%;">
            <img id="img-jose" src="./images/jose.png" alt="Jose Cabrera">
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <p class="lead" style="text-align: justify;">
          <span class="display-6">Welcome to my portfolio!</span> 
          <br><br>
          My name is <strong>Jose Cabrera</strong>, a passionate and competitive individual with a strong affinity for both running and programming. As a Latino, I bring a unique perspective and drive to these two passions. <br><br> My field of experience goes from technical roles in manufacturing lines, through coordination of teams and data analyst with SQL and PL SQL queries to extract and sanitize data, process it and use it in dynamic dashboards for reporting. My programming skills have provided me with the ability to combine these two and bring to the table one of a kind professional who can contribute in both manufacturing and technology environments,
          <strong>Inspiring Code, Empowering Solutions!</strong>
        </p>
      </div>      
    </div>
</div>