<div class="container text-center">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="card" style="width: 100%;">
            <img id="img-jose" src="./images/jose.png" alt="Jose Cabrera">
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <p class="lead" style="text-align: justify;">
          <span class="display-6">Welcome to my portfolio!</span> 
          <br><br>
          My name is <strong>Jose Cabrera</strong>, a dedicated Java developer with a passion for web application development. 
          <br><br>
          <strong>Education:</strong> Currently pursuing a Software Engineering Technician diploma at Centennial College. 
          <br><br>
          <strong>Skills:</strong> My expertise extends to database management with MySQL and MongoDB. I have a strong foundation in Java, Python, C#, and web technologies. such as HTML, CSS and JavaScript. I have excellent problem-solving skills and a strong analytical mindset, I strive to deliver high-quality solutions. 
          <br><br>
          <strong>Inspiring Code, Empowering Solutions!</strong>
        </p>
      </div>      
    </div>
</div>