<!--https://www.shutterstock.com/image-vector/emblem-c-sharp-programming-language-blue-1669224127
https://www.shutterstock.com/image-vector/java-programming-language-art-logo-designed-2097680263
https://www.shutterstock.com/image-vector/modern-logo-colored-cubes-that-united-626819705
https://www.shutterstock.com/image-vector/sql-database-icon-logo-design-ui-684826648
-->
<div class="container text-center">
    <div class="row row-cols-1 gy-5">
      <div class="col-sm-12 col-md-6">
        <div class="container text-center">
            <div class="row">
              <div class="col d-flex align-items-center justify-content-center">
                <img class="img-lan" src="./images/c_sharp.png" alt="C# Logo">
              </div>
              <div class="col">
                <ul class="list-group">
                    <li class="list-group-item">Object Oriented Programming</li>
                    <li class="list-group-item">Graphic User Interfase</li>
                  </ul>
              </div>
            </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="container text-center">
            <div class="row">
              <div class="col d-flex align-items-center justify-content-center">
                <img class="img-lan" src="./images/java.png" alt="JAVA Logo">
              </div>
              <div class="col">
                <ul class="list-group">
                    <li class="list-group-item">Object Oriented Programming</li>
                    <li class="list-group-item">Graphic User Interfase</li>
                  </ul>
              </div>
            </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="container text-center">
            <div class="row">
              <div class="col d-flex align-items-center justify-content-center">
                <img  class="img-lan" src="./images/mean.png" alt="FULL STACK Logo">
              </div>
              <div class="col">
                <ul class="list-group">
                    <li class="list-group-item">MEAN STACK</li>
                    <li class="list-group-item">Web Design</li>
                    <li class="list-group-item">Web Applicartions</li>
                  </ul>
              </div>
            </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="container text-center">
            <div class="row">
              <div class="col d-flex align-items-center justify-content-center">
                <img class="img-lan" src="./images/sql.png" alt="SQL Logo">
              </div>
              <div class="col">
                <ul class="list-group">
                    <li class="list-group-item">SQL</li>
                    <li class="list-group-item">MONGODB</li>
                    <li class="list-group-item">POSTMAN</li>
                  </ul>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>
<br>
<br>
<div class="container text-center">
  <button class="btn btn-danger" type="submit"><a href="./images/Junior FS Software Developer - Jose Cabrera.pdf" target="_blank" class="links">Resume</a></button>
</div>