<ul class="movie-effect hidden">
    <li><h2>P</h2></li>
    <li><h2>R</h2></li>
    <li><h2>O</h2></li>
    <li><h2>J</h2></li>
    <li><h2>E</h2></li>
    <li><h2>C</h2></li>
    <li><h2>T</h2></li>
    <li><h2>S</h2></li>
</ul>