<%- include partials/header.ejs %>

<%- include partials/top_nav.ejs %>
<main>
  <form class="row g-3 needs-validation forms" validate>
    <div class="container text-center opacity-50">
      <h2 class="text-shadow-lg" id="form_title">Unlock Your Dreams: Submit Your Application Today!</h2>
    </div>
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">First name</label>
      <input type="text" class="form-control" id="validationCustom01" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustom02" class="form-label">Last name</label>
      <input type="text" class="form-control" id="validationCustom02" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustomUsername" class="form-label">email</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">@</span>
        <input type="email" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Please choose a email.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationCustom03" class="form-label">City</label>
      <input type="text" class="form-control" id="validationCustom03" required>
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationCustom04" class="form-label">State</label>
      <select class="form-select form-control" id="validationCustom04" required>
        <option selected disabled value="">Choose...</option>
        <option>ON</option>
        <option>QC</option>
        <option>NS</option>
        <option>NB</option>
        <option>MB</option>
        <option>BC</option>
        <option>PE</option>
        <option>SK</option>
        <option>AB</option>
        <option>NL</option>
        <option>NT</option>
        <option>YT</option>
        <option>NU</option>
        <option>Other</option>
      </select>
      <div class="invalid-feedback">
        Please select a valid state.
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationCustom05" class="form-label">Zip</label>
      <input type="text" class="form-control" id="validationCustom05" required>
      <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustom05" class="form-label">Project Type</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" required>
        <label class="form-check-label" for="flexRadioDefault1">
          Blog
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" required>
        <label class="form-check-label" for="flexRadioDefault2">
          Web Page
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" required>
        <label class="form-check-label" for="flexRadioDefault2">
          Web Site
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" required>
        <label class="form-check-label" for="flexRadioDefault2">
          Web Application
        </label>
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustomUsername" class="form-label">Budget</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">$</span>
        <input type="email" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend">
        <span class="input-group-text">.00</span>
        <div class="invalid-feedback">
          Please choose a email.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group">
        <span class="input-group-text">Project <br> Description</span>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="container text-center">
        <button class="btn btn-danger" type="submit">Submit Request</button>
      </div>
    </div>
  </form>
</main>  
<script src="/javascripts/contact_effect.js" defer></script>
  <%- include partials/bottom_nav.ejs %>
  <%- include partials/footer.ejs %>