
<%- include partials/header.ejs %>
  <main>
    <div class="container-s lead">
      <img src="./images/jose-removebg.png" alt="Jose Cabrera" class="backgroundColor">
      <div class="inner-container">
        <h2>Hello!</h2>
        <p>I´m Jose Cabrera. <br> I´m a Software Developer. </p>
        <button type="button" class="btn btn-outline-danger"><a class="links btn-sm" href="./about">View Portfolio</a></button>
      </div>
      <div class="right-container">
        <p>Inspiring Code, Empowering Solutions</p>
      </div>
    </div>
  </main>  
</body>
</html>